/* nachtblau: #0B0C17; */
 /* color: #FF3571; red */
 /* color:#DDD; grey */
 /* color: #3C30FF ; blue */
 /* color: #FFF ; white*/
 /* color: #000; black*/



@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    /* background-color: white; */
    font-family: 'Roboto', sans-serif;
    color: #0B0C17;
}

a{
    text-decoration: unset;
    color: unset;
    
}

/* ---------Header mit Logo------ */

header {
    display: flex;
    justify-content: baseline;
    width: 50px;
    position: absolute;
}

#logo{
    display: flex;
    margin-top: 4rem;
    margin-left: 4rem;
    position: fixed;
   
}

#logo img{
    width: 40px;
}

#logo-text{
    margin-left: .5em;
   
}

#logo-text h1{
    font-size: 1.5rem;
}

#logo-text p{
    font-size: .8rem;
    font-weight: 700;
}

/* --------- Hero Section---------- */

.hero{
  display: flex;  
  position: relative;
  height: 100vh;
}

#hero-text-box{
    position: relative;
    left: 10rem;
    top: 15rem;
    margin-top: 10rem;
    width: 38%;
    font-size: 1.2rem;  
}

#hero-text-box h2{
    font-size: 3.5rem;
}

#hero-text-box p{
    margin-top: 1rem;
}

#hero-illustration-box{
    position: absolute;
    width: 90vw;
}

.hero img{
    position: absolute;
    height: 90vh;
}

.hero>p:last-of-type{
    position: relative;
    top: 92vh;
    right: 26vw;
    color: #FF3571;
    font-weight: 700;
    
}

/* --------galerie---------- */

.galerie{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin: 8rem 1rem;
}

.galerie img{
    width: 90vw;
}

/* --------- idea-sevtion--------- */

.idea{
    display: flex;
    height: 50vh;
    margin: 5rem;
    

}

#idea-heading{
    width: 50%;
    align-self: top;
    font-size: 2em;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 2rem;
    margin-left: 2em;
}


#idea-text {
    width: 50%;
    font-size: 1em;
    line-height: 2em;
    margin: 4em;
}

